.divForm {
  background-color: blueviolet;
  border-radius: 1rem;
  margin-top: 80px;
  margin-left: 330px;
  margin-right: 330px;
  padding: 100px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.divDiv {
  padding-top: 60px;
}
.danger {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}
