.divAux{
  display:flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-bottom: 100px;
}
.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 1rem;
  margin-left: 330px;
  margin-right: 330px;
  padding: 100px;
  padding-top: 110px;
  padding-bottom: 110px;

}
.divDiv {
  padding-top: 60px;
}
.danger {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}
