.divInfoCard {
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  padding: 100px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1rem;
  border-style: outset;
}
.divProps {
  display: inline;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px;
}
